@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 220 43% 97%;
  --foreground: 221 52% 10%;
  --muted: 226 48% 92%;
  --muted-foreground: 222 32% 35%;
  --popover: 0 0% 100%;
  --popover-foreground: 221 52% 10%;
  --card: 0 0% 100%;
  --card-foreground: 221 52% 10%;
  --border: 226 45% 88%;
  --input: 226 45% 88%;
  --primary: 247 74% 63%;
  --primary-foreground: 210 40% 98%;
  --secondary: 164 100% 45%;
  --secondary-foreground: 221 52% 10%;
  --accent: 188 86% 53%;
  --accent-foreground: 221 52% 10%;
  --destructive: 0 74% 52%;
  --destructive-foreground: 0 0% 100%;
  --ring: 247 74% 63%;
  --radius: 0.75rem;
}

.dark {
  --background: 221 47% 12%;
  --foreground: 220 43% 97%;
  --muted: 221 36% 18%;
  --muted-foreground: 215 28% 70%;
  --popover: 221 47% 12%;
  --popover-foreground: 220 43% 97%;
  --card: 221 47% 12%;
  --card-foreground: 220 43% 97%;
  --border: 221 36% 24%;
  --input: 221 36% 24%;
  --primary: 247 74% 63%;
  --primary-foreground: 220 43% 97%;
  --secondary: 164 100% 45%;
  --secondary-foreground: 221 52% 12%;
  --accent: 188 86% 53%;
  --accent-foreground: 221 52% 12%;
  --destructive: 0 63% 40%;
  --destructive-foreground: 210 40% 98%;
  --ring: 188 86% 53%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
